html, body, #app {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

ul {
	padding:0;
}

li {
	list-style-type: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-clear {
	border: none;
	background: transparent;
}

.nav-link {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}


.bg-light {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.movie {
  position: relative;
  margin: 0.7rem 0;
  padding: 1.25rem;
  width: 22rem; 
  height: 35rem;
}

.movie-watched {
  position: relative;
  margin: 0.7rem 0;
  padding: 1.25rem;
  width: 22rem; 
  height: 40rem;
}

.movie-title {
  margin: 0 0 30px 0;
  font-size: 2em;
}

.movie-summary {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5em;
}

.movie-text {
  font-size: 1em;
}

.movie-review {
  position: absolute;
  bottom: 0;
  right: 40%;
  margin-bottom: 1rem;

}

.center-text {
  text-align: center;
}

.main-content {
  height: 460px;
}

.card-list li {
  display: flex;
  align-items: center;
  margin: 10px;
}

.float-left {
  float: left
}

.icon-margin {
  margin-right: 10px;
}

.btn-status {
  font-size: 13px;
  font-weight: bold;
  color: blue;
  cursor: pointer;
}

.btn-status:hover {
  background: #d9d9d9;
}


button {
  border-style: none;
  background-color: transparent;
}

button:disabled,
button[disabled]{
  color: #666666;
  cursor: not-allowed;
  pointer-events: all !important;
}

.arrow-btn {
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.nav li {
  margin-right: 15px;
}

.row {
	display: flex;
	flex-direction: row;
}

.icon-right {
  float: right;
}

.div-my-rate {
 margin-top: 30px;
}

.div-my-rate input {
margin-left: 8px;
}

.my-rate-input {
  width: 50px;
}

.my-rate-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.font-weight-bold {
  font-weight: bold;
}

.loading {
  font-size: 35px;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 20px;
  text-align: center;
}

.no-data {
  font-size: 22px;
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


.login-h1 {
  margin-bottom: 50px;
  font-size: 40px;
}

.login-form {
  display: inline-block;
  margin-top: 80px;
}

.login-label {
  font-size: 20px;
  margin: 8px;
}

.login-btn {
  margin-top: 15px;
  padding: 10px 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
}

.login-input {
  width: 30%;
  padding: 12px 10px;
  margin-top: 10px;
  font-size: 16px;
}

.login-error {
  font-size: 24px;
  color: #e60000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logout-btn {
  display: block;
  height: 50px;
  width: 90px;
  border-radius: 50%;
  border: none;
  background-color: #6666ff;
  color: #fff;
  margin-bottom: 30px;
  cursor: pointer;
}

.center-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0%;
  margin-top: 30px;
}

.login-img {
  width: 80%;
  height: auto;
}


.left-text {
  text-align: left;
}



/* Media Queries */


@media (min-width: 1281px) {

  .movie-title {
    margin: 0 0 30px 0;
    font-size: 1.6em;
  }

  .movie-summary {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1em;
    font-weight: bold;
  }

  .star {
    font-size: 35px;
  }
  
}

@media (min-width: 1025px) and (max-width: 1280px) {

  .movie-title {
    margin: 0 0 30px 0;
    font-size: 1.6em;
  }

  .movie-summary {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1em;
    font-weight: bold;
  }

  .star {
    font-size: 35px;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .star {
    font-size: 40px;
  }
  
}

@media (min-width: 481px) and (max-width: 767px) {

  .star {
    font-size: 40px;
  }
  
}

@media (min-width: 320px) and (max-width: 480px) {
  #movie-date-byline {
    display: none;
  }

  #watched-date-byline {
    display: none;
  }

  #wishlist-date-byline {
    display: none;
  }

  .movie-title {
    margin: 0 0 30px 0;
    font-size: 1.5em;
  }

  .movie-summary {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1em;
    font-weight: bold;
  }

  .star {
    font-size: 30px;
  }

}